@import 'tailwindcss';

@theme {
  --color-aurora: #08b52e;
}

@font-face {
  font-family: 'DINNextLTArabic';
  src: local('DINNextLTArabic-Regular'), url('../fonts/DINNextLTArabic.ttf');
}

body {
  font-family: 'DINNextLTArabic', sans-serif;
  overflow-x: hidden;
}

.ant-modal .ant-modal-footer {
  display: flex;
}

.ant-modal .ant-modal-footer > .ant-btn + .ant-btn {
  flex: 1;
}
